.shell {
  display: flex;
  padding-bottom: 100px;
  padding-top: 150px;
}

.content {
  flex: 1;
  position: relative;
  z-index: 1;
}

.sidebar {
  position: sticky;
  top: 100px;
  align-self: flex-start;
  height: fit-content;
  z-index: 100;
}
